:root {
  --boxHeight: 400px; 
  --accentColor: #e7f1f2;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.container {
  display: grid;
  grid-template-areas:
    "content content content"
    "content content content"
    "content content content";
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 3px;
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  padding: 5px;
  text-align: center;
  min-height: 100%;
}
.wrapper{
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -25px; 
}
.wrapper:after {
  content: "";
  display: block;
}
.single-item-container {
  display: flex;
  justify-content: center;
  gap: 3px;
  background-color: var(--accentColor); 
  padding: 5px;
  text-align: center;
  font-size:40px;
  min-height: 100%;
  width:100%;
}
.container div {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: white;
  border-color: var(--accentColor); 
  object-fit: contain;
  width:100%;
  cursor: pointer;
}
.image-container {
  width: 200px;
  height: 300px;
  border: 1px solid black;
  -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}
.image-container:hover {
  -webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	-ms-filter: brightness(75%);
	filter: brightness(75%);
}
.image-container img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.project-image-container img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.portrait {
	max-width:15%;
	height:auto
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-crop {
  width: 300px;
  height: 50px;
  overflow: hidden;
}

.image-crop img {
  width: 100%;
  height: 100%;
  object-fit: cover;          /* fills container and crops */
  object-position: 50% 27%;   /* shift visible area */
}
.pixel-art {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.footer, .wrapper:after {
  height: 25px; 
}
.footer {
}
